<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenmei.data.sse.mapper.SseDataRuleMapper">
    
    <resultMap type="SseDataRule" id="SseDataRuleResult">
        <result property="pkId"    column="pk_id"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="ruleEnName"    column="rule_en_name"    />
        <result property="orderTotal"    column="order_total"    />
        <result property="tradeType"    column="trade_type"    />
        <result property="businessType"    column="business_type"    />
        <result property="securitySubCategory"    column="security_sub_category"    />
        <result property="productSet"    column="product_set"    />
        <result property="matchMethod"    column="match_method"    />
        <result property="accountType"    column="account_type"    />
        <result property="priceLevel"    column="price_level"    />
        <result property="orderQuantity"    column="order_quantity"    />
        <result property="tradeRatio"    column="trade_ratio"    />
        <result property="pbuCount"    column="pbu_count"    />
        <result property="bidHost"    column="bid_host"    />
        <result property="loginPbu"    column="login_pbu"    />
        <result property="businessPbu"    column="business_pbu"    />
        <result property="performanceId"    column="performance_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="subscribePbuCount"    column="subscribe_pbu_count"    />
        <result property="totalSubscribedPbuCount"    column="total_subscribed_pbu_count"    />
        <result property="totalAccountCount"    column="total_account_count"    />
        <result property="oneToManyList"    column="one_to_many_list"    />
        <result property="orderCount"    column="order_count"    />
        <result property="subscribeReportRatio"    column="subscribe_report_ratio"    />
    </resultMap>

    <sql id="selectSseDataRuleVo">
        select pk_id, rule_name, rule_en_name, order_total, trade_type, business_type, security_sub_category, product_set, match_method, account_type, price_level, order_quantity, trade_ratio, pbu_count, bid_host, login_pbu, business_pbu, performance_id, status, del_flag, create_by, create_time, update_by, update_time, remark, subscribe_pbu_count, total_subscribed_pbu_count, total_account_count, one_to_many_list, order_count, subscribe_report_ratio from sse_data_rule
    </sql>

    <select id="selectSseDataRuleList" parameterType="SseDataRule" resultMap="SseDataRuleResult">
        <include refid="selectSseDataRuleVo"/>
        <where>  
            <if test="ruleName != null  and ruleName != ''"> and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="subscribePbuCount != null "> and subscribe_pbu_count = #{subscribePbuCount}</if>
            <if test="totalSubscribedPbuCount != null "> and total_subscribed_pbu_count = #{totalSubscribedPbuCount}</if>
            <if test="totalAccountCount != null "> and total_account_count = #{totalAccountCount}</if>
            <if test="oneToManyList != null  and oneToManyList != ''"> and one_to_many_list = #{oneToManyList}</if>
            <if test="orderCount != null "> and order_count = #{orderCount}</if>
            <if test="subscribeReportRatio != null "> and subscribe_report_ratio = #{subscribeReportRatio}</if>
        </where>
    </select>
    
    <select id="selectSseDataRuleByPkId" parameterType="Long" resultMap="SseDataRuleResult">
        <include refid="selectSseDataRuleVo"/>
        where pk_id = #{pkId}
    </select>

    <insert id="insertSseDataRule" parameterType="SseDataRule" useGeneratedKeys="true" keyProperty="pkId">
        insert into sse_data_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">rule_name,</if>
            <if test="ruleEnName != null">rule_en_name,</if>
            <if test="orderTotal != null">order_total,</if>
            <if test="tradeType != null">trade_type,</if>
            <if test="businessType != null">business_type,</if>
            <if test="securitySubCategory != null">security_sub_category,</if>
            <if test="productSet != null">product_set,</if>
            <if test="matchMethod != null">match_method,</if>
            <if test="accountType != null">account_type,</if>
            <if test="priceLevel != null">price_level,</if>
            <if test="orderQuantity != null">order_quantity,</if>
            <if test="tradeRatio != null">trade_ratio,</if>
            <if test="pbuCount != null">pbu_count,</if>
            <if test="bidHost != null">bid_host,</if>
            <if test="loginPbu != null">login_pbu,</if>
            <if test="businessPbu != null">business_pbu,</if>
            <if test="performanceId != null">performance_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="subscribePbuCount != null">subscribe_pbu_count,</if>
            <if test="totalSubscribedPbuCount != null">total_subscribed_pbu_count,</if>
            <if test="totalAccountCount != null">total_account_count,</if>
            <if test="oneToManyList != null">one_to_many_list,</if>
            <if test="orderCount != null">order_count,</if>
            <if test="subscribeReportRatio != null">subscribe_report_ratio,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">#{ruleName},</if>
            <if test="ruleEnName != null">#{ruleEnName},</if>
            <if test="orderTotal != null">#{orderTotal},</if>
            <if test="tradeType != null">#{tradeType},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="securitySubCategory != null">#{securitySubCategory},</if>
            <if test="productSet != null">#{productSet},</if>
            <if test="matchMethod != null">#{matchMethod},</if>
            <if test="accountType != null">#{accountType},</if>
            <if test="priceLevel != null">#{priceLevel},</if>
            <if test="orderQuantity != null">#{orderQuantity},</if>
            <if test="tradeRatio != null">#{tradeRatio},</if>
            <if test="pbuCount != null">#{pbuCount},</if>
            <if test="bidHost != null">#{bidHost},</if>
            <if test="loginPbu != null">#{loginPbu},</if>
            <if test="businessPbu != null">#{businessPbu},</if>
            <if test="performanceId != null">#{performanceId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="subscribePbuCount != null">#{subscribePbuCount},</if>
            <if test="totalSubscribedPbuCount != null">#{totalSubscribedPbuCount},</if>
            <if test="totalAccountCount != null">#{totalAccountCount},</if>
            <if test="oneToManyList != null">#{oneToManyList},</if>
            <if test="orderCount != null">#{orderCount},</if>
            <if test="subscribeReportRatio != null">#{subscribeReportRatio},</if>
         </trim>
    </insert>

    <update id="updateSseDataRule" parameterType="SseDataRule">
        update sse_data_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">rule_name = #{ruleName},</if>
            <if test="ruleEnName != null">rule_en_name = #{ruleEnName},</if>
            <if test="orderTotal != null">order_total = #{orderTotal},</if>
            <if test="tradeType != null">trade_type = #{tradeType},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="securitySubCategory != null">security_sub_category = #{securitySubCategory},</if>
            <if test="productSet != null">product_set = #{productSet},</if>
            <if test="matchMethod != null">match_method = #{matchMethod},</if>
            <if test="accountType != null">account_type = #{accountType},</if>
            <if test="priceLevel != null">price_level = #{priceLevel},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="tradeRatio != null">trade_ratio = #{tradeRatio},</if>
            <if test="pbuCount != null">pbu_count = #{pbuCount},</if>
            <if test="bidHost != null">bid_host = #{bidHost},</if>
            <if test="loginPbu != null">login_pbu = #{loginPbu},</if>
            <if test="businessPbu != null">business_pbu = #{businessPbu},</if>
            <if test="performanceId != null">performance_id = #{performanceId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="subscribePbuCount != null">subscribe_pbu_count = #{subscribePbuCount},</if>
            <if test="totalSubscribedPbuCount != null">total_subscribed_pbu_count = #{totalSubscribedPbuCount},</if>
            <if test="totalAccountCount != null">total_account_count = #{totalAccountCount},</if>
            <if test="oneToManyList != null">one_to_many_list = #{oneToManyList},</if>
            <if test="orderCount != null">order_count = #{orderCount},</if>
            <if test="subscribeReportRatio != null">subscribe_report_ratio = #{subscribeReportRatio},</if>
        </trim>
        where pk_id = #{pkId}
    </update>

    <delete id="deleteSseDataRuleByPkId" parameterType="Long">
        delete from sse_data_rule where pk_id = #{pkId}
    </delete>

    <delete id="deleteSseDataRuleByPkIds" parameterType="String">
        delete from sse_data_rule where pk_id in 
        <foreach item="pkId" collection="array" open="(" separator="," close=")">
            #{pkId}
        </foreach>
    </delete>
</mapper>