<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenmei.data.sse.mapper.SseModelMapper">
    
    <resultMap type="SseModel" id="SseModelResult">
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="coreDimension"    column="core_dimension"    />
        <result property="mainRiskTarget"    column="main_risk_target"    />
        <result property="description"    column="description"    />
        <result property="purpose"    column="purpose"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="businessType"    column="business_type"    />
    </resultMap>

    <sql id="selectSseModelVo">
        select model_id, model_name, core_dimension, main_risk_target, description, purpose, status, del_flag, create_by, create_time, update_by, update_time, remark, business_type from sse_model
    </sql>

    <select id="selectSseModelList" parameterType="SseModel" resultMap="SseModelResult">
        <include refid="selectSseModelVo"/>
        <where>  
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="coreDimension != null  and coreDimension != ''"> and core_dimension = #{coreDimension}</if>
            <if test="mainRiskTarget != null  and mainRiskTarget != ''"> and main_risk_target = #{mainRiskTarget}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="purpose != null  and purpose != ''"> and purpose = #{purpose}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
        </where>
    </select>
    
    <select id="selectSseModelByModelId" parameterType="String" resultMap="SseModelResult">
        <include refid="selectSseModelVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertSseModel" parameterType="SseModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into sse_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelId != null">model_id,</if>
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="coreDimension != null">core_dimension,</if>
            <if test="mainRiskTarget != null">main_risk_target,</if>
            <if test="description != null">description,</if>
            <if test="purpose != null">purpose,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="businessType != null">business_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelId != null">#{modelId},</if>
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="coreDimension != null">#{coreDimension},</if>
            <if test="mainRiskTarget != null">#{mainRiskTarget},</if>
            <if test="description != null">#{description},</if>
            <if test="purpose != null">#{purpose},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="businessType != null">#{businessType},</if>
         </trim>
    </insert>

    <update id="updateSseModel" parameterType="SseModel">
        update sse_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="coreDimension != null">core_dimension = #{coreDimension},</if>
            <if test="mainRiskTarget != null">main_risk_target = #{mainRiskTarget},</if>
            <if test="description != null">description = #{description},</if>
            <if test="purpose != null">purpose = #{purpose},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteSseModelByModelId" parameterType="String">
        delete from sse_model where model_id = #{modelId}
    </delete>

    <delete id="deleteSseModelByModelIds" parameterType="String">
        delete from sse_model where model_id in 
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
</mapper>